<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FireDownloader|NO-ADS - Download YouTube videos for free</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- CSS y JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    <!-- Description and keywords for SEO -->
    <meta name="description"
        content="FireDownloader allows you to download videos and music from YouTube in multiple formats .">
    <meta name="keywords"
        content="descargar YouTube, mp3 YouTube, mp4 YouTube, FireDownloader, bajar videos YouTube, convertidor YouTube, descargar música, online downloader">
    <meta name="author" content="Issx-Dev">
</head>

<body>
    <header>
        <h1>FireDownloader</h1>
    </header>

    <main>
        <h2>Bienvenido a FireDownloader</h2>
        <p>Descarga tus videos favoritos de YouTube fácilmente.</p>

        <form action="/download" method="post">
            <label for="url">URL del video:</label>
            <input type="text" id="url" name="url" required>

            <label for="quality">Calidad del video:</label>
            <select id="quality" name="quality">
                <option value="360">360p</option>
                <option value="720">720p</option>
                <option value="1080">1080p</option>
                <option value="1440">1440p</option>
                <option value="2160">2160p</option>
            </select>

            <label for="format">Formato del video:</label>
            <select id="format" name="format">
                <option value="mp4">MP4 (video)</option>
                <option value="webm">WEBM (video)</option>
                <option value="mkv">MKV (video)</option>
                <option value="mp3">MP3 (audio)</option>
                <option value="m4a">M4A (audio)</option>
            </select>


            <button type="submit">Descargar</button>
        </form>

        <p>Nota: Asegúrate de que la URL del video sea válida y de que el video esté disponible para su descarga.</p>
        {% if result %}
        <br><br>
        <h3>Resultados de la descarga</h3>
        {% endif %}

        {% if result and result['success'] %}
        <div class="success">
            <p>Descarga preparada</p>
            {{download_file}}
            <a href="{{ download_file }}" download>Descargar aquí</a>
        </div>
        {% elif result and "❌" in result['error']%}
        <div class="error">
            <p>{{ result['error'] }}</p>
        </div>
        {% elif result and "⚠️" in result['error'] %}
        <div class="warning">
            <p>{{ result['error'] }}</p>
            <a href="{{ download_file }}" download onclick="hideInfoDownload()">Descargar aquí</a>
        </div>
        {% endif %}
        <div id="redirect_info"></div>
    </main>
</body>

</html>