<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FireDownloader|NO-ADS - Download YouTube videos for free</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- CSS y JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    <!-- Description and keywords for SEO -->
    <meta name="description"
        content="FireDownloader allows you to download videos and music from YouTube in multiple formats .">
    <meta name="keywords"
        content="descargar YouTube, mp3 YouTube, mp4 YouTube, FireDownloader, bajar videos YouTube, convertidor YouTube, descargar música, online downloader">
    <meta name="author" content="Issx-Dev">
</head>

<body>
    <header>
        <a href="/"><img src="{{ url_for('static', filename='favicon.png') }}" alt="Logo de FireDownloader"
                width="50"></a>
        <h1>FireDownloader</h1>
    </header>

    <main>
        <h2>Bienvenido a FireDownloader</h2>
        <p>Descarga tus videos favoritos de YouTube fácilmente.</p>

        <form action="/download" method="post">
            <label for="url">URL del video:</label>
            <input type="text" id="url" name="url" required autofocus>

            <label for="quality">Calidad del video:</label>
            <select id="quality" name="quality">
                <option value="360">360p</option>
                <option value="720">720p</option>
                <option value="1080">1080p</option>
                <option value="1440">1440p</option>
                <option value="2160">2160p</option>
            </select>

            <label for="format">Formato del video:</label>
            <select id="format" name="format">
                <option value="mp4">MP4 (video)</option>
                <option value="webm">WEBM (video)</option>
                <option value="mkv">MKV (video)</option>
                <option value="mp3">MP3 (audio)</option>
                <option value="m4a">M4A (audio)</option>
            </select>

            <button id="download_btn" type="submit">Descargar</button>
        </form>

        <div id="download_info">
            <p>Nota: Asegúrate de que la URL del video sea válida y de que el video esté disponible para su descarga.
            </p>
            {% if result %}
            <br>
            <h3>Resultados de la descarga</h3>
            {% endif %}

            {% if result and result['success']%}
            <div class="{{ 'warning' if '⚠️' in result['error'] else 'success' }}">

                {% if "⚠️" in result['error'] %}
                <p>{{ result['error'] }}</p>
                {% else %}
                <p>✅️ Todo listo, archivo listo para descargar!!</p>
                {% endif %}
                <!-- 
                This <a> link is used to send the downloaded file info to js, who will control request 
                Why?
                1. With js we can control the download process, error handling, redirection after download (redirectAfterDownload()), etc. 
                2. The response that we are going to get is as a blob, and it let us modify the name of the file, the type, etc.
                3. We can construct the download link dynamically, so we can use the same link for all formats.
                4. Force the download with a.click() instead of using the download attribute.
                -->
                <a id="download-link" href="{{ download_file }}" data-filename="{{ result['file_name'] }}" download>
                    Pulsa aquí para descargar ->
                    <img src="/static/favicon.png" alt="Icono para descargar" width="30"></a>
            </div>
            {% elif result %}
            <div class="error">
                <p>{{ result['error'] }}</p>
            </div>
            {% endif %}
            <div id="redirect_info"></div>
        </div>
    </main>
</body>

</html>